@model Mvp.Feature.Selections.Models.Apply.ApplicationFormModel

<div class="mvp-fs-applyapplicationform col-12">
    <h2 asp-for="ContributionsTitleLabel"></h2>
    <form>
        <input asp-for="IsBack" type="hidden" value="true" />
        <input asp-for="CurrentStep" type="hidden" value="Objectives" />
        <button asp-for="PreviousLabel" type="submit" class="btn btn-secondary"></button>
    </form>
</div>