@model Mvp.Feature.Selections.Models.Apply.ApplicationFormModel

<div class="mvp-fs-applyapplicationform col-12">
    <div asp-for="ErrorMessageLabel" class="alert alert-danger" role="alert"></div>
</div>