@model Mvp.Feature.Selections.Models.Apply.ApplicationFormModel

<div class="mvp-fs-applyapplicationform col-12">
    <partial name="~/Views/Shared/Components/ApplyApplicationForm/_Progress.cshtml" />
    <div class="alert alert-success" role="alert">
        @(string.Format(Model.SubmittedMessageLabelFormat.Value, Model.CurrentSelection.Year, Model.CurrentApplication.ModifiedOn.Value.ToString("d")))
    </div>
</div>