@model Mvp.Feature.Selections.Models.Admin.UserEditModel

<div class="mvp-fs-adminuseredit">
    <div asp-for="SuccessLabel" class="alert alert-success" role="alert"></div>
    <a asp-for="OverviewLink"></a>
</div>