@model Mvp.Feature.Selections.Models.Admin.UserEditModel

<div class="mvp-fs-adminuseredit">
    <div class="alert alert-success" role="alert">
        User was updated successfully!
    </div>
    <a asp-for="OverviewLink"></a>
</div>