@using Mvp.Selections.Domain
@model Mvp.Feature.Selections.Models.Admin.RegionsOverviewModel

<div class="mvp-fs-adminregionsoverview">
	<h2 asp-for="TitleLabel"></h2>
	<table class="table">
		<thead>
		<tr>
			<th asp-for="NameTableHeader"></th>
			<th asp-for="CountryCountTableHeader"></th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		@foreach (Region region in Model.List)
		{
			<tr>
				<td>@region.Name</td>
				<td>@region.Countries.Count</td>
				<td></td>
			</tr>
		}
		</tbody>
	</table>
	<partial name="_Paging" />
</div>