@using Mvp.Selections.Domain.Roles
@model Mvp.Feature.Selections.Models.Admin.SystemRolesOverviewModel

<div class="mvp-fs-adminsystemrolesoverview col-12 bg-white">
    <h2 asp-for="TitleLabel"></h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th asp-for="NameTableHeader" scope="col"></th>
                <th asp-for="RightsTableHeader" scope="col"></th>
                <th scope="col"><a asp-for="NewSystemRoleLink" class="btn btn-primary" href=""><i class="fa fa-plus" aria-hidden="true"></i></a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (SystemRole role in Model.List)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>@role.Rights</td>
                    <td>
                        <form id="remove@(role.Id)Form" method="post">
                            <input asp-for="RemoveSystemRoleId" type="hidden" value="@role.Id" />
                        </form>
                        <button type="submit" class="btn btn-danger" form="remove@(role.Id)Form"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_Paging" />
</div>