<header>
    <div id="header">
        <sc-placeholder name="headless-header"></sc-placeholder>
    </div>
</header>

<main>
    <div id="content">
        <sc-placeholder name="headless-main"></sc-placeholder>
    </div>
</main>

<footer>
    <div id="footer">
        <sc-placeholder name="headless-footer"></sc-placeholder>
    </div>
</footer>