# folders
.git
.gitignore
.vs
.config
.sitecore
build
docker
packages
**/bin/
**/obj/
**/out/
**/node_modules/
**/.generated/
**/.next*/
**/.vscode/
**/coverage/

# files
*Dockerfile
docker-compose*
**/*.md
*.ps1
scjssconfig.json
**/*.yml
**/*.module.json
sitecore.json
