# Sitecore assets
.sitecore/package-cache/
.sitecore/user.json
.scindex
*.itempackage
*.sicpackage

# IDE Settings
.vscode

# Environment files
.env

# Windows thumbnails
Thumbs.db

# VS Assets
*.obj
*.exe
*.pdb
*.user
# Make exception for Feature.User folder
!authoring/items/Mvp/Feature.User
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
.vscode/

# Nuget packages folder
packages/

.vercel
xmcloud.plugin.pre-release.json

# developer configs
appsettings.Development.json