@model Mvp.Feature.Selections.Models.Admin.UsersOverviewModel

<div class="mvp-fs-adminusersoverview col-12 bg-white">
	<h2 asp-for="TitleLabel"></h2>
    <p>
        @if (Model.IsEditing)
        {
            @Html.Raw(Model.ConfirmMessageLabelFormat?.EditableMarkup)
        }
        else if(Model.ConfirmMessageLabelFormat != null)
        {
            @string.Format(Model.ConfirmMessageLabelFormat.Value, Model.RemoveUser.Name, Model.RemoveUser.Email, Model.RemoveUser.Country?.Name ?? "nowhere")
        }
    </p>
    <form method="post">
        <input asp-for="RemoveUserId" type="hidden"/>
        <input asp-for="RemoveConfirmed" type="hidden" value="true"/>
        <button asp-for="ConfirmLabel" type="submit" class="btn btn-danger"></button>
    </form>
</div>