@model MvpSite.Rendering.Models.Mvp.MentorDataModel

<div class="mvp-fs-mvpmentordata col-sm-12 col-md-6 bg-white">
    <div asp-for="SuccessLabel" class="alert alert-success" role="alert"></div>
    <a asp-for="SuccessLink"></a>
</div>