@using Mvp.Selections.Domain
@model IList<Mvp.Selections.Domain.ProfileLink>

<p class="profile-links col-12">
@foreach (ProfileLink profileLink in Model)
{
    <a href="@profileLink.Uri" title="@profileLink.Name" target="_blank">
        @switch (profileLink.Type)
        {
            case ProfileLinkType.Blog:
                <i class="fa fa-rss-square" aria-hidden="true"></i>
                break;
            case ProfileLinkType.StackExchange:
                <i class="fa fa-stack-exchange" aria-hidden="true"></i>
                break;
            case ProfileLinkType.Community:
                <i class="fa fa-users" aria-hidden="true"></i>
                break;
            case ProfileLinkType.Twitter:
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                break;
            case ProfileLinkType.Youtube:
                <i class="fa fa-youtube-square" aria-hidden="true"></i>
                break;
            case ProfileLinkType.Github:
                <i class="fa fa-github-square" aria-hidden="true"></i>
                break;
            case ProfileLinkType.LinkedIn:
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                break;
            case ProfileLinkType.Slack:
                <i class="fa fa-slack" aria-hidden="true"></i>
                break;
            case ProfileLinkType.Bluesky:
                <svg fill="none" viewBox="0 0 64 57" width="26px" height="26px" style="margin-top:-5px;"><path fill="#4300ad" d="M13.873 3.805C21.21 9.332 29.103 20.537 32 26.55v15.882c0-.338-.13.044-.41.867-1.512 4.456-7.418 21.847-20.923 7.944-7.111-7.32-3.819-14.64 9.125-16.85-7.405 1.264-15.73-.825-18.014-9.015C1.12 23.022 0 8.51 0 6.55 0-3.268 8.579-.182 13.873 3.805ZM50.127 3.805C42.79 9.332 34.897 20.537 32 26.55v15.882c0-.338.13.044.41.867 1.512 4.456 7.418 21.847 20.923 7.944 7.111-7.32 3.819-14.64-9.125-16.85 7.405 1.264 15.73-.825 18.014-9.015C62.88 23.022 64 8.51 64 6.55c0-9.818-8.578-6.732-13.873-2.745Z"></path></svg>
                break;
            default:
                <i class="fa fa-external-link" aria-hidden="true"></i>
                break;
        }
    </a>
}
</p>