@using Mvp.Selections.Domain
@using MvpSite.Rendering.Models.Profile
@model IList<Mvp.Selections.Domain.Title>

@foreach (Title title in Model.OrderByDescending(t => t.Application.Selection.Year))
{
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="card border-0 p-1 m-1">
            <div class="row no-gutters">
                <div class="col-8">
                    <div class="card-body">
                        <h6>MVP @title.Application.Selection.Year</h6>
                        <p class="card-title">@title.MvpType.Name</p>
                        <div class="card-text">
                            <i class="fa fa-globe" aria-hidden="true"></i> <span>@title.Application.Country.Name</span>
                        </div>
                    </div>
                </div>
                <div class="col-4 align-self-center">
                    <img src="@ProfileViewModel.GenerateImageUri(title)" class="card-img"/>
                </div>
            </div>
        </div>
    </div>
}