@using Mvp.Selections.Domain
@using MvpSite.Rendering.Models.Profile
@model IList<Mvp.Selections.Domain.Title>

@foreach (Title title in Model.OrderByDescending(t => t.Application.Selection.Year))
{

    <div class=" border-0  p-1  col-xs-12 col-sm-9 col-md-4 col-lg-3">
        <div class="row card no-gutters align-items-center">
            <!-- <div class="col-4">
                <img src="@ProfileViewModel.GenerateImageUri(title)" class="card-img" />
            </div> -->
            <div class="col-12">
                <div class="card-body">
                <h6> MVP @title.Application.Selection.Year</h6>
                    <p class="card-title">@title.MvpType.Name </p>
                    <div class="card-text"><i class="fa fa-globe" aria-hidden="true"></i> <span> @title.Application.Country.Name</span></div>
                </div>
            </div>
        </div>
    </div>
}