# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next*/
/out/

# misc
.DS_Store

# local env files
.env.local
.env.*.local
.env

# Log files (use *.log and *.log.* to avoid matching names like .LogoOnly)
*.log
*.log.*

# vercel
.vercel

# sitecore temp files
.sitecore/*
# except for component-map
!.sitecore/component-map.ts
!.sitecore/component-map.client.ts
!.sitecore/import-map.ts
