@model Mvp.Feature.Selections.Models.Admin.ApplicationsOverviewModel

<div class="mvp-fs-adminapplicationsoverview col-12 bg-white">
    <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
</div>