.cta {
    position: relative;
    padding-bottom: 20px;

    .col-7 {
        padding-top: 140px;
        z-index: 5;
    }

    .red-color {
        color: var(--bs-red);
    }

    .link-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .link-arrow, .link-arrow a {
        color: #28327D;
        font-weight: bold;
        font-size: 17px;
        text-decoration: underline;
        letter-spacing: 0.5px;
        line-height: 26px;
    }

    .ctaImage {
        width: 100%;
        object-fit: cover;
    }

}

.ctaText {
    background-color: greenyellow;
    padding: 50px 50px 66px;

    &::after {
        display: block;
        content: " ";
        width: 175px;
        height: 175px;
        position: absolute;
        top: -15px;
        left: -15px;
        border-top: 15px solid #fe2911;
        border-left: 15px solid #fe2911;
    }
}