/*Sponsor*/
.sponsor-platinum {
    background-color: white;
    padding-top: 25px;
}

.sponsor-platinum__label {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 10px;
    color: #666;
    width: 90%;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 39px;
}

.sponsor-list {
    margin-bottom: 10px;
}

.sponsor-platinum__name {
    font-size: 48px;
    line-height: 55px;
    width: 100%;
    color: #232323;
    font-weight: 900;
    font-family: "AvenirNextW05-Bold", Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    word-break: break-word;
}

.sponsor--platinum__img--outer {
    position: relative;
    width: 100%;
}

.sponsor--platinum__img {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 20px;

    :after {
        display: block;
        content: " ";
        position: absolute;
        width: 87px;
        height: 87px;
        top: -10px;
        right: -10px;
        border-top: 15px solid #fe2911;
        border-right: 15px solid #fe2911;
    }

    img {
        width: 80%;
        height: 100%;
        margin-top: 20%;
        margin-left: 10%;
    }
}

.sponsor--default__img {
    width: 218px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.sponsor--default {
    h2 {
        margin-bottom: 0px;
        max-width: 720px;
        margin-top: 50px;
    }
}

.sponsor--default__img img {
    max-width: 100%;
    height: auto;
    max-height: 113px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sponsor--secondary {
    h2 {
        margin-bottom: 0px;
        max-width: 720px;
        margin-top: 50px;
    }
}

.sponsor--secondary__img img {
    width: 100%;
    height: auto;
}

.sponsor--default__block {
    padding: 16px;
    background-color: white;
    width: 250px;
    margin-top: 20px;
    height: 145px;
    position: relative;
    float: left;
    margin-right: 16px;
}

.sponsor--secondary__block {
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    position: relative;
    float: left;
    margin-right: 16px;

    a[target="_blank"]:after {
        content: "";
    }

    a {
        text-decoration: none;
    }
}

.sponsor--platinum__block {
    a[target="_blank"]:after {
        content: "";
    }

    a {
        text-decoration: none;
    }
}
