@model Layout?

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model?.DisplayName</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/styles/bootstrap-5.1.3.min.css">
</head>

<body>
    @RenderBody()
</body>
</html>