@if (User.Identity?.IsAuthenticated ?? false)
{
    <ul class="signin authenticated">
        <li>
            <span class="flex">
                Hello, @User.Identity.Name
                <a asp-controller="User" class="cta primary flex" asp-action="SignOut">Sign Out</a>
            </span>
        </li>
    </ul>
}
else
{
    <ul class="signin unauthenticated relative">
        <li><a class="cta primary flex" asp-controller="User" asp-action="SignIn" id="login-button">Sign In</a></li>
    </ul>
}