@if (User.Identity?.IsAuthenticated ?? false)
{
    <li class="nav-item signin">
        @* <span>Hello, @User.Identity.Name</span> *@
        <a asp-controller="User" class="btn btn-sm cta primary" asp-action="SignOut">Sign Out</a>
    </li>
}
else
{
    <li class="nav-item signin">
        <a class="btn btn-sm cta primary" asp-controller="User" asp-action="SignIn" id="login-button">Sign In</a>
    </li>
}