@if (User.Identity?.IsAuthenticated ?? false)
{
    <li>
        <span class="flex">
            Hello, @User.Identity.Name
            <a asp-controller="User" class="cta primary" asp-action="SignOut">Sign Out</a>
        </span>
    </li>
}
else
{
    <li class="nav-item signin"><button class="btn btn-sm cta primary" asp-controller="User" asp-action="SignIn" id="login-button">Sign In</button></li>
}