@model Mvp.Feature.Selections.Models.Any.MyProfilesFormModel

<div class="mvp-fs-anymyprofilesedit col-sm-12 col-md-6 bg-white">
    <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
</div>