@model Mvp.Feature.Selections.Models.Admin.SystemRolesOverviewModel

<div class="mvp-fs-adminsystemrolesoverview col-12 bg-white">
    <div asp-for="ErrorMessage" class="alert alert-danger" role="alert"></div>
</div>