@model Mvp.Feature.Selections.Models.Admin.SystemRolesOverviewModel

<div class="mvp-fs-adminsystemrolesoverview col-12 bg-white">
    <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
</div>