@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<h2>An error has occurred.</h2>
<div class="col-12 panel">
    <p class="content">Unfortunately, we cannot process that request please try again later.</p>
</div>