@model ErrorViewModel
@{
    ViewData["Title"] = "Page Not Found";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<h2>Page Not Found</h2>
<div class="col-12 panel">
    <p class="content">The page you're looking for can't be found, please try again.</p>
</div>