// Required
@import "bootstrap/scss/functions";

// Default variable overrides
@import "custom-variables";

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// Optional Bootstrap components here
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

@import "bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";

a[target="_blank"]:after {
    content: "\1F5D7";
}

/*
Hides Sitecore Experience Editor markup,
if you run the app in connected mode while the Sitecore cookies
are set to edit mode.
*/
.scChromeData,
.scpm {
    display: none !important;
}

/*
Styles for default JSS error components
*/
.sc-jss-editing-error,
.sc-jss-placeholder-error {
    padding: 1em;
    background-color: lightyellow;
}

body {
    background-color: #f6f6f6;
}
header {
    background-color: white;
    .navigation {
        margin-top: 50px;
    }
    .richtext {
        background-color: #707070;
        font-size: 0.8em;
        a {
            text-decoration: none;
            color: white;
            :after {
                content: none;
            }
        }
        p {
            margin: 0;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
footer {
    background-color: #707070;
    color: white;
    .component {
        padding: 20px;
        margin-top: 0px;
    }
}

h1 {
    line-height: 1.2;
    margin-top: 0;
    color: #232323;
    font-weight: 900;
    font-size: 36px;
}

.centered-block {
    max-width: 1200px;
    margin: auto;
}

.background-dark-grey {
    background-color: #707070;
}

.background-light-grey {
    background-color: #f6f6f6;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

// Finally add custom components
@import "components/cta";
@import "components/hero";
@import "components/fixed-width-container";
@import "components/organiserList";
@import "components/sponsorList";
@import "components/title";
@import "components/navigation";
