@model Mvp.Feature.Selections.Models.Admin.ScoreCardDetailModel

<div class="mvp-fs-adminscorecarddetail col-12 bg-white">
    <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
</div>