.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 10%;
    width: 30%;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
    background-color: white;
    opacity: 80%;

    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.85);
}

.heroimage {
    width: 3000px;
    height: 650px;
    object-fit: cover;
}

.hero-label {
    font-weight: 900;
    font-size: 14px;
    color: #666;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    font-family: "AvenirNextW05-Regular", "Arial";
}