/* Brand Colors */
$sc-red: #fe2911;
$sc-teal: #1ca6a3;
$sc-charcoal: #232323;
$sc-black: #000000;
$sc-white: #ffffff;
$sc-gray1: #f0f0f0;
$sc-gray2: #cccccc;
$sc-gray3: #999999;
$sc-gray4: #707070;
$sc-gray5: #333333;
/* Site Colors */
$sc-topbar-bg: #666;
$sc-content-bg: #F6F6F6;
$sc-font-color: var(--sc-black);;


@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

body {
     font-family:DM Sans,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 56px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    color: $sc-font-color;
    background-color: $sc-white;
    height: 100%;
    display: flex;
    flex-direction: column;
}



p {
    font-size: var(--sc-body-m);
    line-height: var(--sc-body-m-lh);
    letter-spacing: var(--sc-body-m-ls);
    font-weight: 400;
}

select {
    color: $sc-gray4;
    font-size: 18px;
}



h1 {
    font-size: var(--sc-h2);
    line-height: var(--sc-h2-lh);
    letter-spacing: var(--sc-h2-ls);
    font-weight: 500;
    // font-size: var(--sc-h1);
    // line-height: var(--sc-h1-lh);
    // letter-spacing: var(--sc-h1-ls);
    // font-weight: 500;
}

h2 {

    // font-size: var(--sc-h2);
    // line-height: var(--sc-h2-lh);
    // letter-spacing: var(--sc-h2-ls);
    // font-weight: 500;
    font-size: var(--sc-h3);
    line-height: var(--sc-h3-lh);
    letter-spacing: var(--sc-h3-ls);
    font-weight: 500;
}


h3 {

    // font-size: var(--sc-h3);
    // line-height: var(--sc-h3-lh);
    // letter-spacing: var(--sc-h3-ls);
    // font-weight: 500;
    font-size: var(--sc-h4);
    line-height: var(--sc-h4-lh);
    letter-spacing: var(--sc-h4-ls);
    font-weight: 500;
}

h4 {

    font-size: var(--sc-h4);
    line-height: var(--sc-h4-lh);
    letter-spacing: var(--sc-h4-ls);
    font-weight: 500;
}

.bg-teal {
    background: $sc-teal;
    color: $sc-white;
}

.bg-gray4 {
    background: $sc-gray4;
    color: $sc-white;
}

.background-white {
    background-color: $sc-white;
}

section.background-white {
    background-color: $sc-white;
}

.background-grey {
    background-color: $sc-content-bg;
}

section.background-grey {
    background-color: $sc-content-bg;
}

main {
    flex: 1 0 auto;

    #content {
        background-color: $sc-content-bg;
    }

    @media (max-width: 767.98px) {
        h2 {
            font-size: 22px;
        }

        h3 {
            font-size: 18px;
        }

        h4 {
            font-size: 16px;
        }
    }
}