/* Brand Colors */
$sc-red: #fe2911;
$sc-red-500: #ff1f38;
$sc-teal: #1ca6a3;
$sc-charcoal: #232323;
$sc-black: #1e1c22;
$sc-white: #ffffff;
$sc-gray1: #f0f0f0;
$sc-gray2: #cccccc;
$sc-gray3: #999999;
$sc-gray4: #707070;
$sc-gray5: #333333;
/* Site Colors */
$sc-topbar-bg: #666;
$sc-content-bg: #f6f6f6;
$sc-font-color: #212529;
$sc-neutral-300: #e4e2e8
;


div.main-nav {
    background: $sc-white;
    border-bottom: 1px solid var(--sc-neutral-300);

    #main-menu {
        //margin: 0;
        //border-bottom: 1px solid var(--sc-neutral-300);
    }

    .inner {
        border-left-width: 0px;
        border-bottom-width: 0px;
        border-right-width: 0px;
    }

    nav.navbar {
        height: var(--sc-main-nav-height);
        background: $sc-white;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        position: sticky;
        margin: 0;

        .navbar-toggler {
            height: 100%;
            width: var(--sc-main-nav-height);
            align-items: center;
            justify-content: center;
            border-top: 0;
            border-right: 0;
            border-bottom: 0;
            border-left: 1px solid var(--sc-neutral-300);
            border-radius: 0;
        }

        img.logo {
            height: 24px;
            width: auto;
            max-width: unset;

            @media (min-width: 768px) {
                height: 42px;
                margin-right: 3.5rem;
            }
        }

        .navbar-collapse {
            @media (max-width: 768px) {
                background: $sc-white;
                position: absolute;
                top: var(--sc-main-nav-height);
                left: 0;
                width: 100%;
            }

            ul.navbar-nav {
                display: flex;
                width: 100%;
                flex-direction: column;
                padding-top: 0rem;

                li.nav-item,
                li.nav-item li {
                    display: flex;
                    align-items: center;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    padding-left: var(--sc-grid-padding-x);
                    padding-right: var(--sc-grid-padding-x);
                    border-top: 1px solid var(--sc-neutral-300);

                    @media (min-width: 768px) {
                        margin-bottom: .5rem;
                        display: flex;
                        border-top: none;
                        padding-top: 0;
                        padding-bottom: 0;
                    }

                    &:first-child {
                        border-top: 0;
                    }

                    @media (min-width: 768px) {
                        &.other-sites {
                            margin-left: auto;
                            border-left: solid 1px $sc-neutral-300;
                            border-right: solid 1px $sc-neutral-300;
                            padding: 0 1.5rem 0 1.5rem;

                            a {

                                span.top-level {
                                    display: flex;
                                    align-content: center;
                                }

                                span.top-level::before {
                                    content: "";
                                    display: block;
                                    position: relative;
                                    right: 0;
                                    top: 0;
                                    width: 24px;
                                    height: 24px;
                                    margin-right: 8px;
                                    color: inherit;
                                    background-color: currentColor;
                                    mask-position: center;
                                    mask-size: 24px;
                                    mask-repeat: no-repeat;
                                    mask-image: url("/images/multi-site.svg");
                                }
                            }

                            span.icon {
                                display: none;
                            }
                        }
                    }

                    a:link {
                        font-size: var(--sc-body-l);
                        line-height: var(--sc-body-l-lh);
                        letter-spacing: var(--sc-body-l-ls);
                        color: var(--sc-black);
                    }
                }

                li.has-sub-items {
                    justify-content: space-between
                }
            }

            ul.signin {
                list-style: none;
                padding: 0;
                text-align: center;

                li {
                    @media (max-width: 768px) {
                        a.cta {
                            position: static
                        }
                    }
                }
            }

            .sub-menu {
                transition: none;
                margin: 0;
                padding: 0;

                li.back a {
                    display: none
                }

                &.collapse {
                    background: $sc-white;
                    position: absolute;
                    top: var(--sc-main-nav-height); // 3.5rem (56px)
                }

                @media (max-width: 768px) {
                    li.back a {
                        display: flex
                    }


                    &.collapse {
                        background: $sc-white;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}
    /* Desktop styles */
    @media (min-width: 768px) {
        div.main-nav nav.navbar .navbar-collapse ul.navbar-nav {
            flex-direction: row;
            height: var(--sc-main-nav-height);

            li.nav-item {
                margin-left: .75rem;
                margin-right: .75rem;
                margin-top: 0;
                margin-bottom: 0;
                display: flex;
                align-items: center;
                padding: 0;
                border-top: unset;

                .nav-link:link {
                    text-align: center;
                    font-size: var(--sc-body-m);
                    line-height: var(--sc-body-m-lh);
                    letter-spacing: var(--sc-body-m-ls);
                    font-weight: 450;
                }
            }

            li li.nav-item {
                margin-bottom: .5rem;
                display: flex;
            }

            .navbar-collapse ul.signin li a.cta, div.main-nav nav.navbar .navbar-collapse ul.signin li a.link-arrow ul.signin {
                position: relative
            }
        }
    }