@model MvpSite.Rendering.Models.ContentListItem

<div class="feature-panel-card">
    <div class="feature-panel-text  no-number ">
        <h2 class="feature-panel-top" asp-for="@Model.Fields!.ItemTitle"></h2>
        <div class="feature-panel-block">
        <p asp-for="@Model.Fields!.ItemText"></p>

        <a asp-for="@Model.Fields!.ItemLink" data-module="cta-button" data-goals="" class="link-arrow" aria-label="Learn more">
            @Model.Fields?.ItemLink?.Value.Text
            <img alt="Learn more" src="images/icon-arrow.png">
        </a>
        </div>
    </div>
</div>