@using MvpSite.Rendering.Models
@model MvpSite.Rendering.Models.MainNav

<div class="main-nav">
    <div class="container h-100" id="main-menu">
        <nav class="navbar navbar-expand-lg navbar-light inner h-100">
            <a class="mr-5" href="/">
                <img src="/images/sitecore.svg" class="logo d-inline-block align-top" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse h-100" id="navbarNavDropdown">
                <ul class="navbar-nav flex w-100 h-100">
                    @foreach (MainNavItems link in Model.Items ?? [])
                    {
                        if ((link.Fields?.IncludeInMenu?.Value ?? false) &&
                        (!(link.Fields.RequiresAuthentication?.Value ?? false) || (link.Fields.RequiresAuthentication.Value && (User.Identity?.IsAuthenticated ?? false))))
                        {
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="@link.Url" asp-for="@link">@link.Fields.MenuTitle?.Value </a>
                            </li>
                        }
                    }
                    <li class="nav-item ml-auto other-sites h-100">
                        <a href="#otherSites" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="otherSites" class="nav-link"><span class="top-level">Our sites</span></a>
                        <ul class="sub-menu collapse" id="otherSites">
                            <li><a class="nav-item nav-link" target="_blank" href="https://sitecore.com/">Sitecore.com <span class="icon icon-external"></span></a></li>
                            <li><a class="nav-item nav-link" target="_blank" href="https://communinity.sitecore.com/">Community <span class="icon icon-external"></span></a></li>
                            <li><a class="nav-item nav-link" target="_blank" href="https://developers.sitecore.com/">Developer Portal <span class="icon icon-external"></span></a> </li>
                            <li><a class="nav-item nav-link" target="_blank" href="https://sitecore.chat/">Sitecore Slack <span class="icon icon-external"></span></a></li>
                            <li><a class="nav-item nav-link" target="_blank" href="https://sitecore.stackexchange.com/">Sitecore Stack Exchange <span class="icon icon-external"></span></a></li>
                            <li><a class="nav-item nav-link" target="_blank" href="https://www.youtube.com/@@DiscoverSitecore">Discover Sitecore <span class="icon icon-external"></span></a></li>
                            <li><a class="nav-item nav-link" target="_blank" href="https://doc.sitecore.com/">Documentation <span class="icon icon-external"></span></a></li>
                            <li><a class="nav-item nav-link" target="_blank" href="https://developers.sitecore.com/downloads">Downloads <span class="icon icon-external"></span></a></li>
                            <li><a class="nav-item nav-link" target="_blank" href="https://support.sitecore.com/kb">Knowledge Base <span class="icon icon-external"></span></a></li>
                            <li><a class="nav-item nav-link" target="_blank" href="https://learning.sitecore.com/learn">Learning & Training <span class="icon icon-external"></span></a></li>
                            <li><a class="nav-item nav-link" target="_blank" href="https://partners.sitecore.com/">Partner Network <span class="icon icon-external"></span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <sc-placeholder name="nav-signin"></sc-placeholder>
        </nav>
    </div>
</div>