/*Organiser*/

.organizer {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 24px;

  a {
    color: #19a5a2;
  }
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 259px;
}

.cardBody {
  padding: 16px;
}

.cardBody h3 {
  font-size: 1.2em;
}
