/*Organiser*/

.organizer {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 24px;

  a {
    color: #28327d;
    font-weight: bold;
  }
}

.card img {
  width: 100%;
  height: 100%;
}

.cardBody {
  padding: 16px;
}

.cardBody h3 {
  font-size: 1.2em;
}
