@using Mvp.Selections.Domain
@model MvpSite.Rendering.Models.Any.DashboardModel

<div class="mvp-fs-dashboard col-12 bg-white">
    <div class="mvp-fs-announcements">
        @if (Model.CurrentSelection?.AreApplicationsOpen() ?? false)
        {
            <div class="alert alert-primary" role="alert">
                <span asp-for="ApplicationsOpenLabel"></span>
                <div class="d-inline countdown" data-date="@Model.CurrentSelection.ApplicationsEnd.ToString("O")">
                    <span class="countdown-days"></span>d
                    <span class="countdown-hours"></span>h
                    <span class="countdown-minutes"></span>m
                    <span class="countdown-seconds"></span>s
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                <span asp-for="ApplicationsClosedLabel"></span>
            </div>
        }
        @if (Model.CurrentUser != null && (Model.CurrentUser.HasRight(Right.Review) || Model.CurrentUser.HasRight(Right.Admin)) && (Model.CurrentSelection?.AreReviewsOpen() ?? false))
        {
            <div class="alert alert-primary" role="alert">
                <span asp-for="ReviewsOpenLabel"></span>
                <div class="d-inline countdown" data-date="@Model.CurrentSelection.ReviewsEnd.ToString("O")">
                    <span class="countdown-days"></span>d
                    <span class="countdown-hours"></span>h
                    <span class="countdown-minutes"></span>m
                    <span class="countdown-seconds"></span>s
                </div>
            </div>
        }
        else if (Model.CurrentUser != null && (Model.CurrentUser.HasRight(Right.Review) || Model.CurrentUser.HasRight(Right.Admin)))
        {
            <div class="alert alert-warning" role="alert">
                <span asp-for="ReviewsClosedLabel"></span>
            </div>
        }
    </div>
    <div class="mvp-fs-mysection">
        <h2 asp-for="MySectionLabel"></h2>
        <p>@Model.CurrentUser?.Name</p>
        <ul>
            <li>
                <a asp-for="MyUserOverviewLink"></a>
            </li>
            @*<li>
                <a asp-for="MyApplicationsOverviewLink"></a>
            </li>*@
            @if (Model.CurrentUser != null && (Model.CurrentUser.HasRight(Right.Admin) || Model.CurrentUser.HasRight(Right.Apply)) && (Model.CurrentSelection?.AreApplicationsOpen() ?? false))
            {
                <li>
                    <a asp-for="MyCurrentApplicationLink"></a>
                </li>
            }
            <li>
                <a asp-for="MyContributionsOverviewLink"></a>
            </li>
        </ul>
    </div>
    @if (Model.CurrentUser != null && (Model.CurrentUser.HasRight(Right.Review) || Model.CurrentUser.HasRight(Right.Admin)))
    {
        <div class="mvp-fs-reviewsection">
            <h2 asp-for="ReviewSectionLabel"></h2>
            <ul>
                <li>
                    <a asp-for="ReviewApplicationsOverviewLink"></a>
                </li>
            </ul>
        </div>
    }
    @if (Model.CurrentUser != null && Model.CurrentUser.HasRight(Right.Admin))
    {
        <div class="mvp-fs-adminsection">
            <h2 asp-for="AdminSectionLabel"></h2>
            <ul>
                <li>
                    <a asp-for="AdminScoreCardsLink"></a>
                </li>
                <li>
                    <a asp-for="AdminUsersOverviewLink"></a>
                </li>
                <li>
                    <a asp-for="AdminRolesOverviewLink"></a>
                </li>
                <li>
                    <a asp-for="AdminSelectionsOverviewLink"></a>
                </li>
                <li>
                    <a asp-for="AdminRegionsOverviewLink"></a>
                </li>
                <li>
                    <a asp-for="AdminCountriesOverviewLink"></a>
                </li>
                <li>
                    <a asp-for="AdminApplicationsOverviewLink"></a>
                </li>
            </ul>
        </div>
    }
    <div>
        <i class="fa fa-envelope-o" aria-hidden="true"></i> <a asp-for="MvpEmailContactLink"></a>
    </div>
</div>