@model MvpSite.Rendering.Models.Any.DashboardModel

<div class="mvp-fs-dashboard col-12 bg-white">
    <div asp-for="SignInText"></div>
    <div>
        <i class="fa fa-envelope-o" aria-hidden="true"></i> <a asp-for="MvpEmailContactLink"></a>
    </div>
</div>