<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <sitemap.generateSitemapJob>
                <processor patch:after="*[@type='Sitecore.XA.Foundation.SiteMetadata.Pipelines.Sitemap.GenerateSitemapJob.UpdateCache, Sitecore.XA.Foundation.SiteMetadata']" type="Sitecore.XA.JSS.Foundation.SiteMetadata.Pipelines.Sitemap.GenerateSitemapJob.GenerateSitemapMediaItems, Sitecore.XA.JSS.Foundation.SiteMetadata" resolve="true" />
            </sitemap.generateSitemapJob>
        </pipelines>
    </sitecore>
</configuration>