<nav>
	<ul class="pagination">
		@if (Model.Page > 1)
		{
			<li class="page-item"><a class="page-link" href="?p=@(Model.Page - 1)@Model.Filter.ToQueryString()">&lt;</a></li>
		}

		@if (Model.List.Count == Model.PageSize)
		{
			<li class="page-item"><a class="page-link" href="?p=@(Model.Page + 1)@Model.Filter.ToQueryString()">&gt;</a></li>
		}
	</ul>
</nav>