@using Mvp.Selections.Domain
@model Mvp.Feature.Selections.Models.Admin.MvpTypesOverviewModel

<div class="mvp-fs-admincountriesoverview">
	<h2 asp-for="TitleLabel"></h2>
	<table class="table">
		<thead>
		<tr>
			<th asp-for="NameTableHeader"></th>
            <th></th>
		</tr>
		</thead>
		<tbody>
		@foreach (MvpType mvpType in Model.List)
		{
			<tr>
				<td>@mvpType.Name</td>
				<td></td>
			</tr>
		}
		</tbody>
	</table>
	<partial name="_Paging" />
</div>