.no-overhang + {
  .page-overview-panel,
  .partners {
    padding-top: 80px;
  }
}

.page-overview-panel {
  .image {
    padding-top: 80px;

    img {
      display: block;
      width: 85%;
    }
  }

  h2 {
    margin-bottom: 30px;
    font-size: var(--sc-h4);
    line-height: var(--sc-h4-lh);
    letter-spacing: var(--sc-h4-ls);
    font-weight: 500;
  }

  h3 {
    a:link,
    a:visited {
      color: #000;
    }
    font-size: 1.2em;
  }

  ol {
    padding-left: 25px;
  }

  ul {
    padding-left: 25px;
    margin-left: 2rem;
    li {
      list-style-type: none;
      position: relative;
      margin-bottom: 1rem;
      font-size: var(--sc-body-m);

      &:before {
        content: " ";
        position: absolute;
        left: -29px;
        top: 9px;
        width: 7px;
        height: 7px;
        background-color: var(--sc-violet-500);
        border-radius: 150px;
        background-repeat: no-repeat;
      }

      p {
        color: #707070;
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 767.98px) {
    .page-overview-panel {
        h2 {
            max-width: 720px;
        }

        .image {
            padding-top: 40px;

            img {
                padding-bottom: 40px;
                border-bottom: 1px solid #e1e1e1;
                width: 100%;
            }
        }

        ul li {
            font-size: 16px;
        }
    }
}
