@model MvpSite.Rendering.Models.Apply.ApplicationFormModel

<div class="mvp-fs-applyapplicationform col-12">
    <div asp-for="ErrorMessageLabel" class="alert alert-danger" role="alert"></div>
    @if (Model.ErrorMessages.Count > 0)
    {
        <ul>
            @foreach (string message in Model.ErrorMessages)
            {
                <li>@message</li>
            }
        </ul>
    }
</div>