@model MvpSite.Rendering.Models.Apply.ApplicationFormModel

<div class="mvp-fs-applyapplicationform col-12">
    <div asp-for="InactiveMessageLabel" class="alert alert-warning" role="alert"></div>
</div>