@using Mvp.Feature.People.Models.Profile
@using Mvp.Selections.Domain
@model IList<Mvp.Selections.Domain.Title>

@foreach (Title title in Model.OrderByDescending(t => t.Application.Selection.Year))
{
    <div class="card border-0 mb-2 col-xs-12 col-sm-9 col-md-6 col-lg-4">
        <div class="row no-gutters align-items-center">
            <div class="col-4">
                <img src="@ProfileViewModel.GenerateImageUri(title)" class="card-img" />
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h4 class="card-title">@title.MvpType.Name @title.Application.Selection.Year</h4>
                    <p class="card-text"><i class="fa fa-globe" aria-hidden="true"></i> @title.Application.Country.Name</p>
                </div>
            </div>
        </div>
    </div>
}