@model Mvp.Feature.People.Models.Profile.ProfileViewModel

<section class="mvp-fp-profile bg-white">
    <div class="container">
        <div class="col-12">
            <div asp-for="NotFoundText" class="alert alert-warning">
            </div>
        </div>
    </div>
</section>