@model MvpSite.Rendering.Models.Mvp.MentorDataModel

<div class="alert alert-warning">
    This is only visible to current MVPs
</div>
<partial name="~/Views/Shared/Components/MvpLicenseDownload/Default.cshtml" />