<section class="column-container two-column-equal  ">
    <div class="container">
        <div class="row inner ">
        <div class="sc-power-gradient-bg">
        <div class="row">
            <sc-placeholder name="column-container"></sc-placeholder>
            </div>
            </div>
        </div>
    </div>
</section>