<section class="column-container two-column-equal  ">
    <div class="container">
        <div class="row inner ">
        <div class="row col-12">
            <sc-placeholder name="column-container"></sc-placeholder>
            </div>
            </div>
        </div>
    </div>
    </div>
</section>