a[target='_blank']:after {
  content: '\1F5D7'
}

/*
  Hides Sitecore Experience Editor markup,
  if you run the app in connected mode while the Sitecore cookies
  are set to edit mode.
*/
.scChromeData, .scpm { display: none !important; }

/*
  Styles for default JSS error components
*/
.sc-jss-editing-error,
.sc-jss-placeholder-error {
  padding: 1em;
  background-color: lightyellow;
}

/* 
  Style for default content block
*/

p{
  font-family: 'AvenirNextW05-Regular','Arial';
  color: #707070;
    font-size: 18px;
}

h1{
  color: #232323;
    font-weight: 900;
    font-family: 'AvenirNextW05-Bold',Arial, Helvetica, sans-serif;
    font-size: 48px;
    line-height: 50px;
}
.contentTitle {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.component{
  margin-top: 50px;
}
header {
  background-color: white;
}
main{
  background-color: #f6f6f6;
}

footer{
  background-color: #707070;
  color: white;
}

footer .component {
  padding: 20px;
  margin-top: 0px;
}
/*hero component*/
.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 45%;
  left: 10%;
  width: 30%;
  color:black;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 40px;
  background-color: white;
  opacity: 80%;

  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.heroimage{
  width: 3000px;
  height: 650px; 
  object-fit: cover;
}

.hero-label{
  font-weight: 900;
  font-size: 14px;
  color: #666;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  font-family: 'AvenirNextW05-Regular','Arial';  
}
/*Organiser*/

.organizer
{
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
}

.card img{
  width: 100%;
  height: 100%;
}

/*Sponsor*/
.sponsorTeaser{
  margin-top: 12px;

}

.sponsorLabel{
  font-weight: 900;
    font-size: 14px;
    color: #666;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    line-height: 39px;

}
.sponsorName{
    font-size: 48px;
    line-height: 55px;
    width: 100%;
    color: #232323;
    font-weight: 900;
    font-family: 'AvenirNextW05-Bold',Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    word-break: break-word;
}
.sponsorTeaserImg::after{
    width: 250px;
    height: 250px;
    top: -15px;
    right: -15px;
    border-top: 15px solid #fe2911;
    border-right: 15px solid #fe2911;
    display: block;
    content: " ";
    position: absolute;
}
.sponsorTeaserImg img{
  width: 100%;
  height: 100%;
}

.SponsorImage2{
  
}
/*CTA*/
.cta{
position: relative;
}

.cta .col-lg-7 {
  padding-top: 140px;
    z-index: 5;
}

.ctaText{
  background-color: greenyellow;
  padding: 50px 50px 66px;
}

.ctaText::after{
  display: block;
    content: " ";
    width: 175px;
    height: 175px;
    position: absolute;
    top: -15px;
    left: -15px;
    border-top: 15px solid #fe2911;
    border-left: 15px solid #fe2911;
}

/*Testimonial*/
.testimonial{
  text-align: center;
}

.testimonialQuote{
  font-size: 50px;
  font-weight: bold;

}
.testimonialName{
  font-style: italic;
}
.testimonialImage img{
  width:300px;
  height:300px;
  object-fit:cover;
  border-radius:50%;
}

blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
blockquote {
  quotes: "“" "”" "‘" "’";
}

/*coloredContainers*/

.red{
  background-color: red;
}

.green{
  background-color: green;
}
.purple{
  background-color: purple;
}

.heightBlock{
  height: 500px;
}
