<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <api>
      <GraphQL>
        <defaults>
          <security>
            <publicService type="Sitecore.Services.GraphQL.Hosting.Security.GraphQLSecurity, Sitecore.Services.GraphQL">

              <complexityConfiguration type="GraphQL.Validation.Complexity.ComplexityConfiguration, GraphQL">
                <maxDepth>15</maxDepth>
                <maxComplexity>10000</maxComplexity>
                <fieldImpact>2</fieldImpact>
              </complexityConfiguration>
              
            </publicService>
          </security>
        </defaults>
      </GraphQL>
    </api>
    
  </sitecore>
</configuration>