@model Mvp.Feature.Selections.Models.Admin.UsersOverviewModel

<div class="mvp-fs-adminusersoverview col-12 bg-white">
    <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
</div>