name: Deploy asset to an Azure WebApp

on:
  workflow_call:
    inputs:
      buildConfiguration:
        required: true
        type: string
      projectLocation:
        required: true
        type: string
      assetName:
        required: true
        type: string
      webAppName:
        required: true
        type: string
    secrets:
      publishingProfile:
        required: true
    
jobs:
  deploy-rendering-host:
    name: Deploy the rendering host to an Azure WebApp
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 8.0.x
      - name: dotnet build and publish
        run: |
          cd ${{ inputs.projectLocation }}
          dotnet restore
          dotnet build --configuration ${{ inputs.buildConfiguration }}
          dotnet publish -c ${{ inputs.buildConfiguration }} -o '../../../../publish/${{ inputs.assetName }}' 
      - name: 'Run Azure webapp deploy action using publish profile credentials'
        uses: azure/webapps-deploy@v2
        with: 
          app-name: ${{ inputs.webAppName }}
          publish-profile: ${{ secrets.publishingProfile }}
          package: './publish/${{ inputs.assetName }}'