name: Build and Release SUGCON ANZ
on: 
  push:
    branches: [ main ]
    paths:
      - 'src/Project/Sugcon/SugconAnzSxa'
  pull_request:
    branches: [ main ]
    paths:
      - 'src/Project/Sugcon/SugconAnzSxa'

jobs:

  build-sugcon-anz:
    name: Build the SUGCON ANZ head
    runs-on: ubuntu-latest
    env:
      FETCH_WITH: GraphQL
      GRAPH_QL_ENDPOINT: ${{ secrets.JS_BUILD_ENDPOINT }}
      SITECORE_API_KEY: ${{ secrets.JS_BUILD_SECRET }}
    defaults:
      run:
        working-directory: ./src/Project/Sugcon/SugconAnzSxa
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16.5
    - run: npm install
    - run: npm run build

 # build-sugcon-anz:
  #   name: Build the SUGCON ANZ head
  #   runs-on: ubuntu-latest
  #   env:
  #     FETCH_WITH: GraphQL
  #     GRAPH_QL_ENDPOINT: ${{ secrets.JS_BUILD_ENDPOINT }}
  #     SITECORE_API_KEY: ${{ secrets.JS_BUILD_SECRET }}
  #   defaults:
  #     run:
  #       working-directory: ./src/Project/Sugcon/SugconAnzSxa
  #   steps:
  #   - uses: actions/checkout@v3
  #   - uses: actions/setup-node@v3
  #     with:
  #       node-version: 16.5
  #   - run: npm install
  #   - run: npm run build     
  
  # deploy-sugcon-eu:
  #   name: Deploy the SUGCON EU rendering host to Vercel
  #   if: github.ref == 'refs/heads/main'
  #   needs: deploy-cm
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: amondnet/vercel-action@v20
  #       with:
  #         vercel-token: ${{ secrets.VERCEL_TOKEN }}
  #         vercel-args: ${{ fromJSON('["--prod", ""]')[github.ref != 'refs/heads/main'] }}
  #         vercel-org-id: ${{ secrets.VERCEL_ORG_ID}} 
  #         vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}} 
  #         scope: ${{ secrets.VERCEL_ORG_ID}}
  #         working-directory: ./
