@model Mvp.Feature.Selections.Models.Any.MyDataEditModel

<div class="mvp-fs-anymydataedit col-12 bg-white">
    <div asp-for="SuccessLabel" class="alert alert-success" role="alert"></div>
    <a asp-for="SuccessLink"></a>
</div>